[Unit]
Description=AutoC4 Suite
Wants=mosquitto.service

[Install]
Also=mqtt-logicer.service
Also=mqtt-mpd-bridge.service
Also=mqtt-trafficker.service
Also=mqtt-presetter.service
Also=mqtt-skynet.service
WantedBy=multi-user.target
