[Unit]
Description=AutoC4 MQTT Logicer
Documentation=https://github.com/cccc/autoc4_logicer
PartOf=autoc4.target
After=mosquitto.service

[Service]
Type=simple
ExecStart=/usr/bin/env pipenv run python logicer.py --logging journald
WorkingDirectory=/home/autoc4/logicer
User=autoc4
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=autoc4.target
